@tailwind base;

@tailwind components;

@tailwind utilities;


/*
.primary {
  color: #F14259;
}

.bg-primary {
  background-color: #F14259;
}

.bg-primary-hover {
  background-color: #d3162f;
}
*/

/* -------- Layout -------*/
.card {
  @apply bg-white rounded shadow-sm p-3;
}

body {
  background-color: #f1f1f1;
}

/* -------- Buttons ------- */
.btn {
  @apply font-bold px-2 py-1 rounded-lg border-2 transition duration-200 ease-in outline-none;
}

.btn-secondary {
  @apply bg-blue-600 hover:text-white hover:bg-blue-700 hover:border-blue-700 text-gray-100 border-blue-600;
}

.btn-outline-secondary {
  @apply border-blue-600 text-blue-600 hover:border-blue-700 hover:text-blue-700;
}

.btn-primary {
  @apply text-gray-100 hover:text-white hover:bg-blue-700 hover:border-blue-700;
  background-color: #F14259;
  border-color: #F14259;
}

.btn-primary:hover {
  background-color: #e03b51;
  border-color: #e03b51;
}

.btn-outline-primary {
  @apply text-primary border border-primary;
}

/* -------- Forms ------- */
.input {
  @apply border border-gray-300 p-1 rounded-md text-sm text-gray-700 w-full focus:border-blue-600 outline-none transition duration-200 ease-in-out;
}